body, html, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.navbar {
  background-color: #333;
  color: white;
  /* padding: 32px; */
}

.main-content {
  flex: 1;
  padding: 2rem;
  background-color: #f9f9f9;
}

.main-content-wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  height: calc(100vh - 80px);
}

.submit{
  color:limegreen;
  font-weight: bold;
  font-size: 1.2em;
  border-radius: 5px;
  background-color: transparent;
}
